body{
	font-family: 'Open Sans', sans-serif;
}
a {
color: #E1704B;
transition: color 0.5s ease;
}
a:hover{
    cursor:pointer;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}
div.items label.item, .item-add{
	border: 1px solid #DDD;
	border-left-width: 3px;
	padding: 9px 9px 9px 20px;
	background-color: #FFF;
	margin-top: 10px;
	position: relative;
	font-weight: normal;
  display: block;
}
div.center{
  text-align:center;
}
.msg{
  color:#307ECC;
  border: 1px solid #307ECC;
  padding: 5px 8px;

}
.item-add{
  background-color: #f5f5f5;
}
.header-color-blue {
    background: #307ECC;
    border: 1px solid #307ECC;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    padding: 0 12px 0;
    color: #fff;
}
.filter{
    margin-top: 6px;
}
.header-color-blue+.widget-body {
border-color: #307ECC;
margin-top: -10px;
padding: 20px 10px;
}
.widget-body {
border: 1px solid #CCC;
border-top: 0;
background-color: #FFF;
}
.strike{
	text-decoration:line-through;
}
.header-elements-margin {
	margin: 5px;
}
.add-task{
	margin-top: 10px;
}
.nav-button-margin{
	margin: 10px 20px 0 0;
}
.navbar{
border-radius: 0;
background: #438EB9;
color: #fff;
}
.navbar .navbar-brand {
color: #FFF;
font-size: 24px;
text-shadow: none;
}

.url{
  display: block;
  overflow: hidden;
  
}

.paddingleft{
  padding-left: 20px;
}

.margintop{
  margin-top: 10px;
}

.red{
  color: red;
}

/* tagy */

tags-input .host{
  margin: 0px !important;
}
tags-input .tags{
  display: block;
  padding-left: 5px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
tags-input .tags .input{
  padding-left: 10px !important;
}     
.tags .tag-item {
  background: #777 !important;
  border: 0px !important;
  height: 20px !important;
  line-height: 20px !important;
  margin: 5px 3px !important;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 3px;   
}
.tags.display{
  padding: 0 !important;
}
.tags.display .tag-item{   
  background: #a6a6a6 !important;    
}       
tags-input .tags .tag-item .remove-button, .tags .tag-item{
  color: #fff !important;
}
.float-right{
  float: right;
}


