<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="css/toaster.css">
       

  </head>
  <body ng-app="LinkBookApp">


<nav class="navbar navbar-inverse navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LinkBook</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          

        <span ng-controller="logOutCtrl">
         
          <ul class="nav navbar-nav navbar-right login">
            
            <li class="dropdown" ng-show="uid > 0 ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi...{{name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="profile">
                      <span class="col-md-6 descr">Name:</span>
                      <span class="col-md-6 descr"><b>{{name}}</b></span>
                  </li> 
                  <li class="profile">
                      <span class="col-md-6 descr">Email:</span>
                      <span class="col-md-6 descr"><b>{{email}}</b></span>
                  </li> 
                  <li class="profile">
                      <a ng-click="logout();" class="btn btn-sm btn-default" style="margin-top:10px"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                  </li>         
                      
                  
                  
                 </ul>
            </li>
            <li><a href="#/login" ng-show="!uid">Login</a></li>
        </ul>
        </span>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">  
    <div class="row">
      

      <!--<blockquote><h1>Linkbook </h1></blockquote> -->


      <div class="widget-box" id="recent-box">  

        <div class="widget-header header-color-red">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="bigger lighter"> 
                <i class="glyphicon glyphicon-align-justify"></i>&nbsp;   LINK MANAGER </h4>
            </div>  
            <div class="col-sm-3">
              <a class="btn btn-sm btn-danger header-elements-margin" href="#/links/add">
                <i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Link
              </a>
              
            </div>
            <div class="col-sm-3">
              <input type="text" ng-model="filterLink" class="form-control search header-elements-margin" placeholder="Filter Links" autocomplete="off">
              
            </div>
          </div>
        </div>
           
        <div class="widget-body">

                <ng-view></ng-view>
            
            </div>
          </div>
       </div>
      </div>
      
      
    </body>

    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
      
   
      <!-- Libraries -->
    <script src="js/libs/jquery-1.11.3.min.js"></script> 
    <script src="js/libs/angular.js"></script>    
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/angular-animate.min.js" ></script>
    <script src="js/libs/toaster.js"></script>
    <script src="js/libs/bootstrap.js"></script>
    <script src="js/libs/bootstrap-tagsinput-angular.js"></script>
    <script src="js/libs/bootstrap-tagsinput.min.js"></script>
    <script src="js/libs/typeahead.bundle.js"></script>
    


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/LinksController.js"></script>
    <script src="js/controllers/AuthCtrl.js"></script>
    <script src="js/controllers/LogOutCtrl.js"></script>
    
    <!-- Directives -->
    <script src="js/directives/directives.js"></script>

    <!-- Services -->
    <script src="js/services/data.js"></script>
    <script src="js/services/message.js"></script>
    
    <!-- Filters -->
    <script src="js/filters/filters.js"></script>
    
</html>